body{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 1.5715;
    margin: 0;
}

/*                                          TOP   BAR                               */

.a{
    color:#424242;
}

.top-bar{
    background-color: #eee;
    height: 30px;
    display: flex;
    justify-content: space-between;
}
.container{
    display: flex;
    margin: 0 10%;
    padding: 0 12px;
    width: 100%;
}
.top-bar ul{
    margin: 0;
}
.top-bar ul li{
    color: #666;
    display: inline-block;
    font-weight: 600;
    font-size: 12px;
    margin-right: 20px;
}
.lang-btn{
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 400;
    height: 32px;
    padding: 4px 15px;
}
/*                                          TOP   BAR                               */





/*                                          NAV     BAR                             */
.navbar{
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(26, 20, 20, 0.1);
    display: flex;
    flex-direction: row;
    padding: 0.5rem 0;
}
.sticky-top{
    position: sticky;
    top: 0;
    z-index: 1020;
}
.navbar-brand{
    padding: 0.3125rem 0;
}
.navbar-collapse{
    align-items: center;
    display: flex;
}
.navbar-nav{
    display: flex;
    flex-direction: row;
    margin-left: 0;
} 
.nav-item{
    list-style-type: none;
    margin-right: 15px;
    font-size: 15px;
}
.donate-btn{
    background: #0d6db7!important;
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 12px;
    padding: 10px 30px!important;
}
/*                                          NAV     BAR                             */






/*                                          HOME   PAGE                             */
.slide{
    background-image: url(https://saylaniwelfare.com/static/media/carousal_background.d77d94e41c5a71ae581f.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    height: 560px;
    margin-top: 10px;
    width: 100%;
}
.row{
    display: flex;
    margin: 0 -12px;
}
.d-flex{
    display: flex;
    float: left;
}
.slide-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
}

.slide-head{
    font-size: 30px;

}


.slide_head{
    font-size: 40px;

}


.new-btn{
    border: none;
    padding-right: 20px;padding-left: 20px;padding-top: 10px;padding-bottom: 10px;
    border-radius: 5px;
}

.color_theme_green{
    color: #8dc63f;
}

.slide_btn{
    background-color: #fff!important;
    border: 1px solid #424242!important;
    border-radius: 5px;
    color: #424242!important;
    padding: 15px 40px; 
}

.fa-arrow-right{
    margin-left: 10px;
    vertical-align: middle;
}

.col{
    flex: 1 0;
}

.slide_img{
    padding: 20px;
}

.slide_img img{
    height: 520px;
    width: 100%;
}

/*                                          DONATION   BOX                          */

.donation-box{
    background-color: rgba(182, 239, 73, .2);
    border-radius: 10px;
    margin-top: 20px;
    padding: 30px;
    width: 100%;
}
.sub-heading{
    color: #0d6db7;
    font-size: 16px;
    font-weight: 700;
}
.donation-amount{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.selected-box{
    background-color: #424242!important;
    color: #fff;
}
.amount-box{
    background-color:#fff;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
    padding: 16px 24px;
}
.donation-box-btn{
    background-color: #8dc63f!important;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    padding: 15px 40px; 
}   
.carousel-main{
    border: 3px double #8dc63f;
    border-radius: 10px;
    display: block;
    margin: 20px 0;
    padding: 1px;
}
.saylani-img{
    border-radius: 10px;
    height: 560px;
    width: 100%;
}
/*                                          DONATION   BOX                          */














/*                                          HOME    SERVICES                        */
.services{
    margin-top: 50px;
}
.heading{
    margin-bottom: 0.5em;
    padding: 12px;
    text-align: center;
}
.col-12{
    padding: 12px;
}
.service-box{
    background-color: rgba(182, 239, 73, .2);
    box-sizing: border-box;
    border-radius: 10px;
    color: #424242;
    margin-top: 40px;
    padding: 20px;
    text-align: center;
}
.servive-icon img{
    height: 70px;
    object-fit: contain;
    width: 70px;
}
.service-text{
    margin-top: 10px;
}
.typo-text{
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 10px;
}

/*                                          HOME  FUNDINGS                          */
.fundings{
    margin-top: 30px;
}
.funding-box{
    height: 300px;
    margin-bottom: 10px;
    position: relative;
    width: 100%;
}
.funding-box img{
    border-radius: 10px;
    height: 300px;
    object-fit: cover;
    width: 100%;
}
.fund-box{
    background-color: rgba(0,0,0,.6);
    border-radius: 10px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    padding: 10px;
    position: absolute;
    width: 100%;
}
.fund-box h4{
    color: #fff;
}
.fund-box button{
    background-color: #8dc63f;
    border-radius: 5px;
    border: none;
    font-size: 14px!important;
    outline: none;
    padding: 10px 30px;
    width: 100%;
}




.img-food{
    margin-top: 10rem;
    height: 420px;
    margin-top: -0px;
    border-top-left-radius: 6rem;
}
.upcoming_text_box{
    width: 5rem;
    margin-top: .8rem;
    background-color: rgb(126, 180, 26);
}





.upcoming_picture_box .upcoming_text_box {
    align-items: center;
    background-color: #8dc63f!important;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top-left-radius: 60px;
    display: flex;
    height: 50%;
    justify-content: center;
    padding: 65px;
    position: absolute;
    top: 0;
    width: 50%;
}
.upcoming_projects{
    margin-top: 50px;
}
.upcoming_projects_heading{
    text-align: left;
    margin-top: -2rem;


}

.pro_img_container{
    background-color: rgb(236, 225, 225);
    padding: 7px;
    border-radius: 1rem;

}



.pro_img{
    height: 3rem;
}
.pro_span{
    font-size: 1.5rem;margin-left: 7rem;
}
.pro_head{
    margin-left: 7rem;
    color: #0d6db7;
}


/*                                          Service Counter                         */


.service_counter{
    text-align: center;
    background-color: rgb(17, 68, 236);
    color: white;
    margin-top: 5rem;
    font-size: 2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

.service_container{
    padding: 10rem;
}

.counter_heading{
    margin-top: 2rem;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.counter_image{
    background-color: white;
    padding: 2rem;
    border-radius:7rem;
}




.service_counter::before{
    background-image: url(/static/media/upcoming_background.a669f19….png);
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    content: " ";
    display: block;
    height: 100%;
    left: 0;
    opacity: .2;
    position: absolute;
    top: 0;
    width: 100%;
}





/*                                          Service Counter                         */

/*                                          Carousel_Section                        */

.carousal-div{
    line-height: 2;
    padding-top: 20px;padding-bottom: 20px;
    text-align: center;
}
.our-testimonial{
    color: #8dc63f;
    font-size: 20px;
}

.navbar_theme {
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 10%);
    height: auto;
    z-index: 1000!important;
}
.read_more{
    border: black solid .5px;
}
.img{
    width: 10%;
    border-radius: 100%;
    margin: 5rem 30rem 0 30rem;
    
}
/*                                          Testimonial Carousel Setion             */

#testimonials{
    text-align: center;
    padding: 3% 15%;
    background-color: rgb(163, 163, 163);
    font-weight: bolder;
    color: white;
}
.testimonial-text{
    margin: 1rem 17rem 1rem 17rem;
    font-weight: bolder;
    color: white;
}

/*                                          Press Section                           */

.img{
    width: 10%;
    border-radius: 100%;
    
}
#press{
    background-color: grey;
    padding: 7% 15%;
}
.press-img{
    width: 23%;
}
.controlprev{
    position: absolute;
    margin-right: 10rem;
}
.controlnext{
    position: absolute;
    margin-left: 10rem;
}
.blue{
    font-size:3rem;
    font-family:Arial, Helvetica, sans-serif;
    color: blue;

}
/*                                          Carousel_Section                        */

/* <!--                                     Media Updates                                 --> */


.media-heading{
    text-align: center;
    margin-top: 5rem;margin-bottom: 5rem;
}

.media_banner{
    height: 250px;
}


.media_content{
    margin-top: 3rem;margin-bottom: 1rem;
    font-size: 1.5rem;
}
.news_heading{
    text-align: center;
    margin: 3rem;
}



/*
<!--                                        Media Updates                                 --> */

.ant-ribbon-text{
    background-color: #1890ff;
    border: solid #0d6db7 1px;
    position: relative;
    top: -35rem;
    left: 15rem;
    color: white;
    font-size: 15px;
    padding: 2px;
}

.new_img{
    height: 159px;
}

.news_content {
    padding: 20px;
    background-color: #666;
}



.news_date{
    float: left;
}

.new_text{
    margin: 10px;
}


/*                                              News Section                        */








/*                                              News Section                        */








/*                                              Saylani Guide                           */




.saylani_guide {
    background-image: url(https://saylaniwelfare.com/static/media/guide_back.3a5127e910c15a49f875.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
    margin-top: 50px;
    padding: 50px;
    text-align: center;
}
.center{
    margin-left: 200px;
}

.typography {
    color: rgba(0,0,0,.85);
    font-size: 30px;
    font-weight: 600;
    line-height: 1.35;
    margin-bottom: 0.5em;
}

.guide_heading h2 {
    color: #fff!important;
}

.ant-input:placeholder-shown {
    text-overflow: ellipsis;
}

.ant-input {
    font-feature-settings: "tnum","tnum";
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    box-sizing: border-box;
    color: rgba(0,0,0,.85);
    display: inline-block;
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    margin: 0;
    min-width: 0;
    padding: 4px 11px;
    position: relative;
    transition: all .3s;
    width: 100%;
}
input {
    overflow: visible;
}
button:not(:disabled) {
    cursor: pointer;
}
.btn{
    border: 1px solid transparent;
}
.guide_btn {
    background-color: #fff!important;
    color: rgb(31, 28, 28)!important;
    flex: 0.1 1;
    font-size: 14px!important;
    font-weight: 700!important;
    padding: 15px 30px!important;
}
.theme_btn {
    border-radius: 5px!important;
}
.saylani_guide_blue {
    background-color: #0d6db7;
}
.theme_input input {
    background-color: initial;
    border-color: #8dc63f;
    border-radius: 5px;
    color: #666;
    padding: 15px!important;
}
.heading_english{
    font-size: 30px;
}








@media (min-width: 992px){
.col-lg-6{
    flex: 0 0 auto;
    width: 50%;
}}

@media (min-width: 992px){
.col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
}
}






.ltr {
    direction: ltr!important;
}

/*                                              Saylani Guide                           */
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(var(--bs-gutter-x)*-.5);
    margin-right: calc(var(--bs-gutter-x)*-.5);
    margin-top: calc(var(--bs-gutter-y)*-1);
}

/*                                       Footer                                */


.col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333%;
}

.z_index_1 {
    z-index: 1!important;
}

.footer {
    width: 100%;
    background-color: #424242;
    position: relative;
    color: white;
}

.d-flex {
    display: flex!important;
}

.social_icons {
    margin-top: 20px;
    padding: 10px;
    z-index: 1;
}

a {
    background-color: initial;
    color: #1890ff;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    transition: color .3s;
}
.footer {
    background-image: url(/static/media/upcoming_background.a669f19….png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
    margin-top: 50px;
    padding: 50px;
    text-align: center;
}


.social_icons div {
    border-radius: 0;
    cursor: pointer;
    margin-left: 10px;
    z-index: inherit;
}

img {
    border-style: none;
    vertical-align: middle;
}
.col-12 {
    flex: 0 0 auto;
    width: 100%;
}


.footer_copyright {
    align-items: center;
    border-top: 0.2px solid hsla(0,0%,100%,.2);
    display: flex;
    justify-content: center;
}

.footer_about {
    z-index: 3!important;
}


.footer_about ul {
    z-index: inherit;
}
ul {
    margin-bottom: 1em;
    margin-top: 0;
}
.footer_about ul li {
    cursor: pointer;
    line-height: 40px;
    list-style-type: none;
    z-index: inherit;
}

.footer_copyright span {
    color: #fff!important;
    margin-top: 20px;
    font-size: 1.5rem;
}


.footer_about ul li a{
    color: white;
    font-size: 1.5rem;
    font-family: 'Montserrat';
    text-align: left;
    text-decoration: none;
}
.footer_about{
    margin-left: 3.5rem;
}


.footer_imgg{
    width: 30rem;
    margin-left: -150px;margin-top: 50px;
}





@media (min-width: 992px){
.col-lg-2 {
    flex: 0 0 auto;
    width: 16.66667%;
}}

@media (min-width: 1200px){
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1140px;
}}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--bs-gutter-x,.75rem);
    padding-right: var(--bs-gutter-x,.75rem);
    width: 100%;
}





.body{
    color: #0d6db7;
}




/*                                       Footer                                */










@media (max-width:600) {
    body{
        background-color: black;
    }
}

/* Media-Query-Section */

@media (max-width:1010px) {
    #title{
        text-align: center;
    }
    .Dog{
        transform: rotate(0);
    }
    .Dog-align{
        position: static;
    }
    }